<html>
<head><title>Add Work</title>
<body>
<form action="/addwork/" method="post">
    {% csrf_token %}
    <p>Work ID :
    <input type="text" id="workid" name="workid" value="{{ workid }}">
    </p>
<p>Select Department  :
    <select id="dptname" name="dptname" value="{{ dptname }}">
        <option value="CSE">CSE</option>
        <option value="CIVIL">CIVIL</option>
    </select>
</p>

<p>Select Subject  :
    <select id="subname" name="subname" value="{{ subname }}">
        <option value="GTC">GTC</option>
        <option value="MAM">MAM</option>
    </select>
</p>

<p><u>Definition of Work :</u></p>
    <textarea id="defwork" name="defwork" rows="4" cols="30" value="{{ defwork }}">
    </textarea>

<p>Upload Question or document :
    <input type="file" id="qpaper" name="filename">
</p>

<p>Start Date : 
    <input type="date" id="sdate" name="sdate" value="{{ sdate }}">
</p>

<p>End Date :
    <input type="datetime-local" id="edate" name="edate" value="{{ edate }}">
</p>

<button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>
