<html>
    <head><title>Mrark Registration</title>
    </head>
    <body>
        <form method= "POST">
            <table>
                <tr>
                    <td>Department</td>
                    <td>
                        <select id="department" >
                            <option>CSE</option>
                            <option>CE</option>
                            <option>EEE</option>
                            <option>ME</option>
                            <option>ECE</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Semester</td>
                    <td>
                        <select id="semester" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Name of the Student &nbsp;</td>
                    <td>
                        <select id="uname" >
                            <option>Arathi</option>
                            <option>Swalih</option>
                            <option>Nabeel</option>
                            <option>Anshida</option>
                            <option>Arathi</option>
                            <option>Swalih</option>
                            <option>Nabeel</option>
                            <option>Anshida</option>
                            <option>Arathi</option>
                            <option>Swalih</option>
                            <option>Nabeel</option>
                            <option>Anshida</option>
                            <option>Arathi</option>
                            <option>Swalih</option>
                            <option>Nabeel</option>
                            <option>Anshida</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>
                        <select id="subject" >
                            <option>TOC</option>
                            <option>GTC</option>
                            <option>CG</option>
                            <option>EM</option>
                            <option>PHYLAB</option>
                            <option>CHEMLAB</option>
                            <option>DSA</option>
                            <option>DCS</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Enter the Mark details </td>
                    <td><input type="text" placeholder="series 1" name="se1" maxlength="3" size="10"/> &nbsp;</td> 
                    <td><input type="text" placeholder="series 2" name="se2" maxlength="3" size="10"/> &nbsp;</td> 
                    <td><input type="text" placeholder="assignment 1" name="as1" maxlength="3" size="10"/> &nbsp;</td> 
                    <td><input type="text" placeholder="assignment 2" name="as2" maxlength="3" size="10"/> &nbsp;</td> 
                    <td><input type="text" placeholder="student total" name="sm" maxlength="3" size="10"/> &nbsp;</td> 
                    <td><input type="text" placeholder="total mark" name="tm" maxlength="3" size="10"/> &nbsp;</td> 
                </tr>
                <tr>
                    <td>
                        <input type="reset" value="Clear"> &nbsp;
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>  
        </form>
    </body>
</html>
