<html>
    <head><title>Submit Exm</title></head>
    <body>
        <p>Select Subject :
            <select id="sub"></select>
        </p>
        <p>
            <button type="submit" value="View">View Current Exm</button>
        </p>
        <p>
            <textarea id="exm" cols="40" rows="10"></textarea>
        </p>
        <p>
        <input type="file" id="subexm" name="filename">
        </p>
        <p>
            <button type="submit" value="submit">Submit</button>
        </p>
    </body>
    </html>
