<html>
<head><title>Add Work</title>
<body>
<form action="" method="post" id="addwork">
<p>Select Department  :
    <select name="Subs" class="form-control">
        {% for results in showdeps %}
        <option value="{{results.id}}">{{ results.dname}}</option>
        {% endfor %}
    </select>
</p>

<p>Select Subject  :
   <select name="Subs" class="form-control">
        {% for results in showsubs %}
        <option value="{{results.id}}">{{ results.sname}}</option>
        {% endfor %}
    </select>
</p>

<p><u>Definition of Work :</u></p>
    <textarea id="defwork" name="defwork" rows="4" cols="30">
    </textarea>

<p>Upload Question or document :
    <input type="file" id="qpaper" name="filename">
</p>

<p>Start Date : 
    <input type="date" id="startdate" name="startdate">
</p>

<p>End Date :
    <input type="datetime-local" id="enddate" name="enddate">
</p>

<p>Have Attachment or Not :
    <input type="radio" id="yes" name="attachment" value="yes">
    yes
    <input type="radio" id="no" name="attachment" value="no">
    no
</p>

<button type="submit" form="addwork" value="Submit">Submit</button>
</form>
</body>
</html>
