<html>
    <head><title>Student registration</title>
    </head>
    <body>
        <form method= "POST">
            <table>
                <tr>
                    <td><input type="text" placeholder="Admission Number" name="uid"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Student name" name="uname"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Roll Number" name="srno"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Phone Number" name="spno"/>
                    </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <select>
                            <option>CSE</option>
                            <option>CE</option>
                            <option>EEE</option>
                            <option>ME</option>
                            <option>ECE</option>
                        </select>
                </tr>
                <tr>
                    <td>Semester</td>
                    <td>
                        <select>
                            <option>S1</option>
                            <option>S2</option>
                            <option>S3</option>
                            <option>S4</option>
                            <option>S5</option>
                            <option>S6</option>
                            <option>S7</option>
                            <option>S8</option>
                        </select>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Year" name="syear"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Date of Birth" name="sdob"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="No.of Subjects" name="snos"/>
                    </td>
                </tr>
            </table>
        </form>
        <SCRIPT Language="javascript">
            document.write('Hello, World!');
        </SCRIPT>
    </body>
    </html>

                